
<% page_title(@book.title) %>

<%= content_for :main_area do %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>


<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', admin_books_path %>

<% end %>