<%= form_for([:admin, @recipe]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this admin_recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  
  <div class="field">
    <%= f.label :vegetarian %> <%= f.check_box :vegetarian %>
  </div>
  <div class="field">
    <%= f.label :serves %><br />
    <%= f.text_field :serves %>
  </div>
  <div class="field">
    <%= f.label :cooking_time %><br />
    <%= f.text_field :cooking_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 2%>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :method %><br />
    <%= f.text_area :method, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :footnote %><br />
    <%= f.text_area :footnote, :rows => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
