<%= form_for([:admin, @recipe]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this admin_recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :vegetarian %> <%= f.check_box :vegetarian %>
  </div>
  <div class="field">
    <%= f.label :serves %><br />
    <%= f.text_field :serves %>
  </div>
  <div class="field">
    <%= f.label :cooking_time %><br />
    <%= f.text_field :cooking_time %>
  </div>
  <div class="field">
    <%= f.label :preparation_time %><br />
    <%= f.text_field :preparation_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :method %><br />
    <%= f.text_area :method, :rows => 10 %>
  </div>

  <div class="field">
    <%= f.label :book %><br />
    <%= f.collection_select(:book_id, Book.all, :id, :title, :include_blank => true ) %>
  </div>

  <br />

  <div class="field">
    <%= f.label :footnote %><br />
    <%= f.cktext_area :footnote %>
  </div>



  <div class="field">
    <% CategoryType.find(:all).each do |category_type| %>

      <% next if category_type.categories.empty? %>

      <h4><%= category_type.name %></h4>
      <% for category in category_type.categories.find(:all) %>
        <div>
          <%= check_box_tag "recipe[category_ids][]", category.id, @recipe.categories.include?(category) %>
          <%= category.name %>
        </div>
      <% end %>

    <% end %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
