<% page_title(@recipe.name) %>
<% page_description(@recipe.description || "Recipe for #{@recipe.name}") %>

<% content_for :facebook_og_metas do %>
	<%= render "facebook_og_metas" %>
<%end%>

<div itemscope itemtype="http://data-vocabulary.org/Recipe" >

	<%= render :layout => "shared/page_header" do %>
		<h1 itemprop="name"><%= @recipe.name %>

			<% if(current_user and current_user.admin?) %>
				<small>(<%= link_to "Edit", edit_admin_recipe_path(@recipe)%>)</small>
			<% end %>
		</h1>
	<% end %>
	<p>By <span itemprop="author">Sheila Hogarth</span></p>
	<p>
		<% @recipe.ingredient_tag_list.each do |tag| %>
			<%= link_to tag.titleize, tag_path(tag.parameterize), :class => "round label" %>
		<% end %>

		<% @recipe.categories.each do |category| %>
			<%= link_to category.name, category, :class => "round label", :itemprop => "recipeType" %>
		<% end %>
	</p>

	<div>
		<p itemprop="summary">
			<%= @recipe.description.html_safe unless @recipe.description.blank? %>
			<%= content_tag :span, "Suitable for vegetarians" if @recipe.vegetarian? %>
		</p>
		<% if(@recipe.book) %>
			<p>From the book <%= link_to @recipe.book.title, @recipe.book %>.</p>
		<% end %>
	</div>

	<% if @recipe.mentions_serves_or_times %>
		<dl>
			<% if(!@recipe.serves.blank?) %>
				<dt>Serves</dt><dd itemprop = "yield"><%= @recipe.serves %></dd>
			<% end %>

			<% if(!@recipe.cooking_time.blank?) %>
				<dt>Cooking Time</dt><dd><time itemprop="cookTime"><%= @recipe.cooking_time %></time></dd>
			<% end %>

			<% if(!@recipe.preparation_time.blank?) %>
				<dt>Preparation Time</dt><dd><time itemprop="prepTime"><%= @recipe.preparation_time %></time></dd>
			<% end %>
		</dl>
	<% end %> 


	<% if @recipe.image.exists? %>
		<%= image_tag @recipe.image.url(:full), :itemprop => "photo" %>
	<% else %>
		<%= image_tag "no-img.jpg"  %>
	<% end %>

	<h2>Ingredients</h2>
	<ul>
		<% @recipe.html_ingredients.each_line do |ingredient| %>
			<li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient"><%= raw ingredient %></li>
		<% end %>
	</ul>

	<h2>Method</h2>

	<ol itemprop="instructions">
		<% @recipe.method.each_line do |method| %>
			<li><%= method %></li>
		<% end %> 
	</ol>

	<%= content_tag :aside, @recipe.footnote.html_safe unless @recipe.footnote.blank? %>
</div>