<% page_title(@recipe.name) %>
<% page_description(@recipe.description || "Recipe for #{@recipe.name}") %>

<%= render :layout => "shared/page_header" do %>
	<h1><%= @recipe.name %></h1>
<% end %>

<% if(facebook_session_token) %>
	<%= link_to "I have cooked this!", "https://graph.facebook.com/me/nomelette:cook?access_token=#{facebook_session_token}&method=POST&recipe=#{current_url}" %>

	<% content_for :facebook_og_metas do %>
		<%= render "facebook_og_metas" %>
	<%end%>

<% end %>


<p>
	<%= pluralize_without_count(@recipe.categories.count, "Category") %>: <%= comma_seperated_links_for @recipe.categories %>
</p>

<p>
	<%= @recipe.description %>
	<%= content_tag :span, "Suitable for vegetarians" if @recipe.vegetarian? %>
</p>


<% if @recipe.mentions_serves_or_cooking_time %>
	<dl>
		<% if(!@recipe.serves.empty?) %>
			<dt>Serves</dt><dl><%= @recipe.serves %></dl>
		<% end %>

		<% if(!@recipe.cooking_time.empty?) %>
			<dt>Cooking Time</dt><dl><%= @recipe.cooking_time %></dl>
		<% end %>
	</dl>
<% end %> 


<% if @recipe.image.exists? %>
	<%= image_tag @recipe.image.url(:full) %>
<% else %>
	<%= image_tag "no-img.jpg"  %>
<% end %>

<h2>Ingredients</h2>
<ul>
	<% @recipe.ingredients.each_line do |ingredient| %>
		<li><%= format_ingredient(ingredient) %></li>
	<% end %>
</ul>

<h2>Method</h2>
<ol>
	<% @recipe.method.each_line do |method| %>
		<li><%= method %></li>
	<% end %> 
</ol>

<%= content_tag :aside, @recipe.footnote if @recipe.footnote %>