<div class="top-bar main-area">
    <div class="grid">
        <div class="grid__item one-twelfth">
            <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.nomelette.co.uk" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" fb-xfbml-state="rendered"><span style="height: 20px; width: 75px;"><iframe id="f3d2e860c" name="f2b77fa7e" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 75px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=249183551766802&amp;locale=en_GB&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df12bc5012%26origin%3Dhttp%253A%252F%252Flocalhost%253A8888%252Ff1b3ba250%26domain%3Dlocalhost%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.nomelette.co.uk&amp;node_type=link&amp;width=450&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></div>
        </div><!-- 
    --><div class="grid__item eleven-twelfths">  
           <nav>
                <ul class="nav main-nav">
			      <%= content_tag :li, link_to("Home", :root) %>
			      <%= content_tag :li, link_to("Recipes", :recipes) %>
			      <%= content_tag :li, link_to("Categories", :category_types) %>
			      <%= content_tag :li, link_to("Books", :books) %>
			      <%= content_tag :li, link_to("About", :about) %>

			      <% if current_user and current_user.admin? %>
			        <%= content_tag(:li, link_to("Admin", admin_root_path)) %>
			      <% end %>

			      <% if current_user %>
			        <%= content_tag(:li, link_to("Logout", :logout)) %>
			      <% else %>
			        <%= content_tag(:li, link_to("Login", :login, :class => "btn--2")) %>
			      <% end %>
                </ul>
           </nav>   
       </div>
    </div>
</div>