<div class="top-bar main-area">
    <div class="grid">
        <div class="grid__item one-twelfth">
        </div><!-- 
    --><div class="grid__item eleven-twelfths">  
           <nav>
                <ul class="nav main-nav">
			      <%= content_tag :li, link_to("Home", :root) %>
			      <%= content_tag :li, link_to("Recipes", :recipes) %>
			      <%= content_tag :li, link_to("Categories", :category_types) %>
			      <%= content_tag :li, link_to("Books", :books) %>
			      <%= content_tag :li, link_to("About", :about) %>

			      <% if current_user and current_user.admin? %>
			        <%= content_tag(:li, link_to("Admin", admin_root_path)) %>
			      <% end %>

			      <% if current_user %>
			        <%= content_tag(:li, link_to("Logout", :logout)) %>
			      <% else %>
			        <%= content_tag(:li, link_to("Login", :login, :class => "btn--2 login-button", :remote => true)) %>
			      <% end %>
                </ul>
           </nav>   
       </div>
    </div>
</div>
