<% page_title("The Recipes of Sheila Hogarth") %>

<div class = "panel">
<%= render :layout => "shared/page_header" do %>
	<h1>Nomelette<small> The recipes of Sheila Hogarth</small></h1>	
	<div class="fb-like" data-href="http://www.nomelette.co.uk" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
<% end %>
</div>

<img src = "http://placekitten.com/g/1000/400" />			

<h2>Featured Recipes</h2>

<% @recipes_with_images.each do |recipe_with_image| %>
<div class = "featured-recipe">
	<%= link_to recipe_with_image do %>
		<%= image_tag recipe_with_image.image.url(:medium) %>
		<h4><%= recipe_with_image.name %></h4>
	<% end %>
</div>
<% end %>

<h2 style = "clear: left;">Latest Recipes</h2>	
<%= render @latest_recipes%>

<hr />

<% @category_types.each do |category_type| %>
	
	<%= content_tag :h2, category_type.name %>			
	<%= comma_seperated_links_for(category_type.categories) %>			
	
<% end %>
