<% page_title("The Recipes of Sheila Hogarth") %>
    <div class="hero main-area">
	  <div class="wrapper">
	    <div class="grid">
	      <div class="grid__item three-fifths palm-one-whole">
	        <div class="hero__intro island">
	          <h1 class="beta">Welcome to Nomelette!</h1>
	          <p class="lead">
	          	<strong>Get your pinny on!</strong> Experience over 40 years of classic family recipes created by Cubria's renowned home cook Sheila Hogarth. Nomelette is full of traditional recipes from warming casseroles to delicious puddings.
	          </p>
	          <%= link_to "Find out More", about_path, :class => "btn--2" %>&nbsp;&nbsp;&nbsp;
			  <%= link_to "Browse our Recipes", recipes_path, :class => "btn--1" %>
	        </div><!-- .hero__intro -->
	      </div><!-- .three-fifths -->
	    </div><!-- .grid -->
	  </div><!-- .wrapper -->
	</div>

	<div class="main-area">
	  <div class="wrapper">
	      <div class="grid">
	        <div class="grid__item one-whole">
	          <h2 class="center-heading"><span>Featured Recipes</span></h2>
	        
		        <section class="carousel-container">
		          <div id="carousel">
		          	<% @featured_recipes.each do |featured_recipe| %>
			          <article class="feat-recipe islet--white">
			          	
			          	<%= link_to featured_recipe do %>
			          		<%= image_tag featured_recipe.image.url(:banner) %>
			          	<% end %>

			          	<%= link_to featured_recipe do %>
			          		<p><%= featured_recipe.name %></p>
			          	<% end %>

			          </article>
			        <% end %>			        
			      </div>
			      <a id="prev" title="Previous"><%= image_tag "content/prev.png", :alt => 'Previous', :title => 'Previous' %></a>
				<a id="next" title="Next"><%= image_tag "content/next.png", :alt => 'Next', :title => 'Next' %></a>
		  	</section>


	          </div><!-- 
	        --><div class="grid__item four-tenths portable-one-whole">
	         
	          <section class="islet--white home-recipes">
	            <h3 class="delta bg-head--1">Recently Added Recipes</h3>
				
				<% @latest_recipes.each do |latest_recipe| %>
					<div class=media>			
						<%= image_tag latest_recipe.image.url(:medium), :class => "media__img" %>
						<h4 class="epsilon"><%= latest_recipe.name %></h4>
						<%= latest_recipe.description.html_safe unless latest_recipe.description.blank? %>
						<%= link_to latest_recipe do %>
						<p>Cook now &raquo;</p>
						<% end %>	
					</div>
				<% end %>

	          </section>

	        </div><!-- 
	        --><div class="grid__item four-tenths portable-one-whole">
	          <section class="islet--white home-recipes">
	            <h3 class="delta bg-head--2">Seasonal Recipes</h3>
	          <% @recipes_with_images.each do |latest_recipe| %>
					<div class=media>			
						<%= image_tag latest_recipe.image.url(:medium), :class => "media__img" %>
						<h4 class="epsilon"><%= latest_recipe.name %></h4>
						<%= latest_recipe.description.html_safe unless latest_recipe.description.blank? %>
						<%= link_to latest_recipe do %>
						<p>Cook now &raquo;</p>
						<% end %>	
					</div>
				<% end %>
	          </section>
	        </div><!-- 
	        --><div class="grid__item two-tenths portable-one-whole">
	          <section class="islet--white home-social">
	            <h3 class="delta bg-head--3">Social</h3>

	             <div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=625379394143103";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-like-box" data-href="http://www.facebook.com/Nomelette" data-width="191" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"></div>

	            </section> 



	        </div>
	      </div>
	  </div>
	</div>