<% page_title(@book.title) %>

<% page_description("The book #{@book.title} was written by Sheila Hogarth.") %>

<%= content_for :main_area do %>

<% unless @book.description.blank? %>
	<%= @book.description.html_safe %>
<% end %>

<%= render(@book.recipes) || content_tag(:p, "Sorry, no recipes in this book") %>

<h2>More Books</h2>
<ul>
<% @books.each do |book| %>
	<li>
	<% if book.id == @book.id %>
		<strong><%= link_to book.title, book %></strong>
	<% else %>
		<%= link_to book.title, book %>
	<% end %>
	</li>
<% end %>
</ul>

<% end %>