<h1>Admin Home</h1>

<div class = "panel">
	
<ul style = "list-style: none">
	<li><%= link_to "Edit Recipes", :admin_recipes %></li>
	<li><%= link_to "Edit Categories", :admin_categories %></li>
	<li><%= link_to "Edit Category Types", :admin_category_types %></li>
	<li><%= link_to "Edit Books", :admin_books %></li>
	<li><%= link_to "Edit Users", :admin_users %></li>
</ul>

</div>