<h1>Listing categories</h1>

<%= render "admin/shared/admin_navigation" %>

<p>
  <%= link_to 'New Category', new_admin_category_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.slug %></td>
    <td><%= link_to 'Show', [:admin,category] %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


