<div class = "panel">
	
		<%= link_to "Recipes", :admin_recipes %> |  
		<%= link_to "Ingredient Descriptions", :admin_ingredient_descriptions %> |
		<%= link_to "Categories", :admin_categories %> | 
		<%= link_to "Category Types", :admin_category_types %> |
		<%= link_to "Books", :admin_books %> |  
		<%= link_to "Users", :admin_users %>
	
</div>