<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <%= render "layouts/head" %>

  <body>
    <%= render "shared/facebook_javascript" %>
    <%= render "shared/navigation" %>    
	<%= render "shared/header" %>
    <%= render "shared/flash_notices" %>
	
    <%= yield %>
    
    <%= render "shared/footer" %>    
    <%= javascript_include_tag "application" %>
    <%= render "shared/tracking_codes" %>


<script type="text/javascript">
$(window).load(function(){


function imageCarousel() {

  var carousel =  $('#carousel');

  var width = $(window).width();
  if(width <=480) {
     var maxNum = 1
  }
else {
  var maxNum = 5
}
    

    carousel.carouFredSel({
    auto: true,
    responsive: true,
    height : 'auto',
    scroll: {
      items : 1,
      pauseOnHover : true
    },
     swipe: {
        onTouch: true,
        items: 3
    },
    items : {
      visible     : {
        min    : 1,
        max    : maxNum
      },
      width       : 200
    },
    onCreate : function () {
          var maxHeight = -1;
          carousel.children().each(function() {
              maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
          });

          /* carousel.children().each(function() {
              $(this).height(maxHeight);
          });*/

           //alert(maxHeight);
          carousel.parent().add(carousel).css('height', maxHeight + 30 + 'px');
        }

  });

    

   $("#prev").on("click", function(){
    $("#carousel").trigger("prev");
  });
  $("#next").on("click", function(){
    $("#carousel").trigger("next");
  });

};

  var resizeTimer;

  $(window).resize(function() {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(imageCarousel, 1);
  }).resize();

});
</script>
  </body>
</html>
